body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .new_container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    position: relative;
      top: 2vw;
    width: 30%;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  input[type="text"], input[type="number"], input[type="tel"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type="submit"], input[type='button'] {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: inherit;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  label {
    font-weight: bold;
  }

  .card-info {
    display: flex;
    gap: 10px;
  }

  .card-info input {
    flex: 1;
  }

  #expiration {
    
      width: 97%;
      height: 51%;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
  
  }

  #button{
    display: flex;
    justify-content: space-between;
  }

  #sub_btn{
    background:#22b877;
  }

  #sub_btn:hover{
    background:#22b877;
    color:#eee;
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
  }

  #back_button{
    background:#b8b622;
    -webkit-transition:all .2s ease;
          transition:all .2s ease;
  }

  #back_button:hover{
    background:#80a822;
    color:#eee;
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
  }
  