body{
    background-color: #e6e6e6;
}

#center_div {
    position:absolute;
    left:50%;
    top:50%;
    width:  40vw;
    min-height: 38vw;
    font-family: Raleway, sans-serif;
    margin-left:-20vw; /* -1/2 width */
    margin-top: -17vw; /* -1/2 height */
    border: 2px solid #a6a6a6;
    background-color: white;
}

#image{
    width: 10vw;
    height: 10vw;
    position: relative;
    left: 37%;
    top: 0.2vw;
}

#image img{
    width: 100%;
}


p{
    font-size: 1.2vw;
}


#user_name{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 25%;
}

#storico{
    font-size: 1vw;    
    position: absolute;
    left: 36%;
    top: 30%;
}

#name {
    position: absolute;
    left: 15%;
    top: 40%;
}

#cognome {
    position: absolute;
    left: 60%;
    top: 40%;
}

#email {
    position: absolute;
    left: 15%;
    top: 50%;
}

#indirizzo{
    position: absolute;
    left: 15%;
    top: 60%;
}

#citta{
    position: absolute;
    left: 15%;
    top: 70%;
}

#cap{
    position: absolute;
    left: 60%;
    top: 70%;
}

#change{
    font-size: 1.3vw;
    background-color: black;
    color: white;
    border: none;
    position: absolute;
    bottom: 5%;
    left: 2%;
    padding: 1vw 1vw;
    font-family: Raleway, sans-serif;
    width: 95%;
}

#change:hover{
    cursor: pointer;
    opacity: 0.8;
}

#change_pwd{
    position: absolute;
    left: 15%;
    top: 83%;
}