
.rightnav {
    position: fixed;
    right: 0.5vw;
    top: 85px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    z-index: 300;
    width: 3vw;
    height: 9vw;
}

.rightnav table{
    margin: auto;
}

.rightnav table td{
    width: 2.5vw;
    height: 2.5vw;
    position: relative;
    top: 0.2vw;
}

#instagram{
    width: 100%;
    background-image: url('../immagini/instagram_icon_black.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#instagram:hover{
    cursor: pointer;
    background-image: url('../immagini/instagram_icon_color.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#facebook{
    width: 100%;
    background-image: url('../immagini/facebook_icon_black.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#facebook:hover{
    cursor: pointer;
    background-image: url('../immagini/facebook_icon_color.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#google{
    background-image: url('../immagini/google_icon_black.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#google:hover{
    cursor: pointer;
    background-image: url('../immagini/google_icon_color.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}